@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px;
    background-color: #182C61;
    color: #ecf0f1;
    font-family: 'Bungee', cursive;
}

header nav li {
    display: inline;
    margin-left: 16px;
}

header nav li a {
    text-decoration: none;
    color: white;
}

.conteiner {
    width: 100%;
    max-width: 1280px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px auto;
}

section {
    padding: 24px 0;
}

section .conteiner {
    align-items: flex-start;
}

section div > img {
    margin-right: 24px;
}

.logos img {
    height: 24px;
    margin-right: 10px;
}

.logos {
    list-style-type: none;
}

ul {
    display: flex;
}

section h2, h3, p {
    margin-bottom: 10px;
    color: #182C61;
}

header, section h2, h3, form button {
    font-family: 'Bungee', cursive;
    font-weight: normal;
}

section p, input, textarea {
    font-family: 'Roboto', sans-serif;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;
}

#contato .conteiner {
    display: block;
}

.contato-colunas {
    display: flex;
    justify-content: space-between;
}

form input, form textarea, form button {
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin-bottom: 16px;
}

form button {
    background-color: #182C61;
    color: #fff;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #314e9e;
}

input:focus, textarea:focus {
    outline-color: #182C61;
}

footer {
    background-color: #182C61;
}

footer p {
    color: #ecf0f1;
    padding: 16px 0;
}

